.App {
  min-height: 100vh;
  padding-left: 3em;
  padding-top: 3em;
}

.App__title {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
