.row {
  display: flex;
  align-items: center;
  // gap: 4em;
}

.log {
  width: 80%;
  margin-bottom: 1em;
}

.log__time {
  text-align: center;
  width: 60%;
}

.log__time__duration {
  font-weight: var(--font-weight-title);
  font-size: 1.5em;
}
