.row {
  display: flex;
  align-items: center;
}

.logs__container {
  padding: 2.5em;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  width: 37em;
  margin-left: 2em;
}

.logs__header {
  margin-bottom: 1.3em;
}

.logs__title {
  font-weight: --var(--font-weight-emphasis);
}

.bullets {
  font-size: 2em;
}
